name: Default storage
on:
  pull_request:
jobs:
  changes:
    name: report changed files
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.storage }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          token: ${{ secrets.GH_RELEASE_TOKEN }}
          filters: |
            storage:
              - 'packages/async-storage/**'

  android:
    name: Android RN
    needs: changes
    if: ${{ needs.changes.outputs.changed == 'true' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup project
        uses: ./.github/actions/setup-project
      - name: Install JS dependencies
        run: yarn
      - name: Bundle JS
        run: yarn bundle:android
        working-directory: examples/react-native

  ios:
    name: iOS RN
    needs: changes
    if: ${{ needs.changes.outputs.changed == 'true' }}
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup project
        uses: ./.github/actions/setup-project
      - name: Cache /.ccache
        uses: actions/cache@v3
        with:
          path: packages/async-storage/.ccache
          key: ccache-ios-${{ hashFiles('yarn.lock') }}
          restore-keys: ccache-ios-
      - name: Install JS dependencies
        run: yarn
      - name: Bundle JS
        run: yarn bundle:ios
        working-directory: examples/react-native

  macOS:
    name: macOS RN
    needs: changes
    if: ${{ needs.changes.outputs.changed == 'true' }}
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup project
        uses: ./.github/actions/setup-project
      - name: Cache /.ccache
        uses: actions/cache@v3
        with:
          path: packages/async-storage/.ccache
          key: ccache-ios-${{ hashFiles('yarn.lock') }}
          restore-keys: ccache-ios-
      - name: Install JS dependencies
        run: yarn
      - name: Bundle JS
        run: yarn bundle:macos
        working-directory: examples/react-native

  windows:
    name: Windows RN
    needs: changes
    if: ${{ needs.changes.outputs.changed == 'true' }}
    runs-on: windows-2022
    steps:
      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v1.3
      - name: Setup VSTest.console.exe
        uses: darenm/Setup-VSTest@v1.2
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          windows-fix: true
      - name: Install JS dependencies
        run: yarn
      - name: Bundle JS
        run: yarn bundle:windows
        working-directory: examples/react-native
